.his-cont{
    height: 400px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 20px;
}
.history-page{
    overflow-x: auto;
    /* height: 500px; */
}
.history-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: 600;
}
.history-page table{
    margin: auto;
    width: 100%;
}
.history-page table,th,tr,td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
table a{
    color: rgb(3, 165, 206);
}

.history-page img{
    width: 70px;
    height: 100px;
    object-fit: cover;
}

.order-len{
    font-weight: 900;
    color: red;
}

.cont-detail-product{
    margin-top: 50px;
}

.paymentId{
    width: 400px
}